@page
@using Microsoft.AspNetCore.Mvc.Localization
@using CosmeticClinicManagement.Localization
@inject IHtmlLocalizer<CosmeticClinicManagementResource> L
@model CosmeticClinicManagement.Pages.IndexModel

@section styles {
    <abp-style src="/Pages/Index.cshtml.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.cshtml.js" />
}


@* <div id="dashboard-container">
    <partial name="@Model.PartialViewName" />
</div> *@